.news-container{
    width: 1075px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 15px;
}
.SplitSlide{
    width: 80%;
    height: 50%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media (max-width: 1140px) {
    .news-container{
        width: 880px;
    }
    .SplitSlide{
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .news-container{
        width: 600px;
    }
    .SplitSlide{
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .news-container{
        width: 460px;
    }    
}
@media (max-width: 360px) {
    .news-container{
        width: 380px;
    }
}
