.blur-text{
	overflow: hidden;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, #000, #000, rgba(0, 0, 0, 0));
    margin: 20px;
}   